In [1]:
import pandas as pd
from warnings import filterwarnings
filterwarnings("ignore")

In [2]:
A=pd.read_csv("C:/Users/Lenovo/Downloads/training_set (1).csv")

In [3]:
A.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849.0,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,NaN,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000.0,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583.0,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000.0,0.0,141.0,360.0,1.0,Urban,Y

In [4]:
cat=[]
con=[]
for i in A.columns:
    if (A[i].dtypes=="object"):
        cat.append(i)
    else: 
        con.append(i)

In [5]:
def replacer(df):
    import pandas as pd
    Q=pd.DataFrame(df.isna().sum(),columns=["mv"])
    R=Q[Q.mv>0]
    for i in R.index:
        if (df[i].dtypes=="object"):
            mode=df[i].mode()[0]
            df[i]=df[i].fillna(mode)
        else:
            mean=df[i].mean()
            df[i]=df[i].fillna(mean)

In [6]:
A.isna().sum()

Loan_ID               0
Gender               15
Married               3
Dependents           15
Education             1
Self_Employed        32
ApplicantIncome       2
CoapplicantIncome     1
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [7]:
replacer(A)

In [8]:
A.isna().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [9]:
X=A.drop(labels=["Loan_ID","Loan_Status"],axis=1)
Y=A[["Loan_Status"]]

In [10]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

In [11]:
cat=[]
con=[]
for i in X.columns:
    if X[i].dtypes=="object":
        cat.append(i)
    else:
        con.append(i)

In [12]:
mm=MinMaxScaler()
Xcon=pd.DataFrame(mm.fit_transform(X[con]),columns=X[con].columns)
Xcat=pd.get_dummies(X[cat])

In [13]:
X1=Xcon.join(Xcat)

In [14]:
X1

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_Female,Gender_Male,Married_No,Married_Yes,Dependents_0,Dependents_1,Dependents_2,Dependents_3+,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Yes,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
0,0.070489,0.000000,0.198860,0.743590,1.0,0,1,1,0,1,0,0,0,1,0,1,0,0,0,1
1,0.065004,0.036192,0.172214,0.743590,1.0,0,1,0,1,0,1,0,0,1,0,1,0,1,0,0
2,0.035250,0.000000,0.082489,0.743590,1.0,0,1,0,1,1,0,0,0,1,0,0,1,0,0,1
3,0.030093,0.056592,0.160637,0.743590,1.0,0,1,0,1,1,0,0,0,0,1,1,0,0,0,1
4,0.072356,0.000000,0.191027,0.743590,1.0,0,1,1,0,1,0,0,0,1,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,0.034014,0.000000,0.089725,0.743590,1.0,1,0,1,0,1,0,0,0,1,0,1,0,1,0,0
610,0.048930,0.000000,0.044863,0.358974,1.0,0,1,0,1,0,0,0,1,1,0,1,0,1,0,0
611,0.097984,0.005760,0.353111,0.743590,1.0,0,1,0,1,0,1,0,0,1,0,1,0,0,0,1
612,0.091936,0.000000,0.257598,0.743590,1.0,0,1,0,1,0,0,1,0,1,0,1,0,0,0,1
613,0.054830,0.000000,0.179450,0.743590,0.0,1,0,1,0,1,0,0,0,1,0,0,1,0,1,0

In [15]:
xtrain,xtest, ytrain,ytest = train_test_split(X1, Y, test_size=0.2, random_state=21)

In [16]:
from sklearn.neighbors import KNeighborsClassifier
knc=KNeighborsClassifier()
model=knc.fit(xtrain,ytrain)

In [17]:
tp={"n_neighbors":range(1,50,1)}

In [18]:
from sklearn.model_selection import GridSearchCV
cv = GridSearchCV( knc, tp,scoring = 'accuracy', cv = 4)
gcv = cv.fit(xtrain, ytrain)
gcv.best_params_

{'n_neighbors': 20}

In [19]:
from sklearn.neighbors import KNeighborsClassifier
knc=KNeighborsClassifier(n_neighbors=20)
model=knc.fit(xtrain,ytrain)

In [21]:
predtr=model.predict(xtrain)
predts=model.predict(xtest)

In [22]:
from sklearn.metrics import accuracy_score,precision_score,recall_score

In [23]:
accuracy_score(ytrain, predtr)

0.7596741344195519

In [24]:
accuracy_score(ytest, predts)

0.7398373983739838

In [25]:
from sklearn.tree import DecisionTreeClassifier
dtc = DecisionTreeClassifier(random_state=21, max_depth=1)
model=dtc.fit(xtrain, ytrain)
predtr= model.predict(xtrain)
predts= model.predict(xtest)
print('train-Acc', accuracy_score(ytrain, predtr))
print('test-Acc', accuracy_score(ytest, predts))

train-Acc 0.8065173116089613
test-Acc 0.8211382113821138

In [26]:
tp = {'min_samples_leaf':range(1,40,1)}
from sklearn.model_selection import GridSearchCV
cv = GridSearchCV( dtc, tp,scoring = 'accuracy', cv = 4)
gcv = cv.fit(xtrain, ytrain)
gcv.best_params_

{'min_samples_leaf': 1}

In [27]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier
dtc = DecisionTreeClassifier(random_state=21, max_depth=2)
#abc = AdaBoostClassifier(dtc, random_state=21,n_estimators=20)
abc = AdaBoostClassifier(dtc, random_state=21,n_estimators=1)

model=abc.fit(xtrain, ytrain)
predtr= model.predict(xtrain)
predts= model.predict(xtest)
print('train-Acc', accuracy_score(ytrain, predtr))
print('test-Acc', accuracy_score(ytest, predts))

train-Acc 0.814663951120163
test-Acc 0.8211382113821138

In [28]:
tp = {'n_estimators':range(1,40,1)}
from sklearn.model_selection import GridSearchCV
cv = GridSearchCV( abc, tp,scoring = 'accuracy', cv = 4)
gcv = cv.fit(xtrain, ytrain)
gcv.best_params_

{'n_estimators': 1}

In [29]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(random_state=21)
tp = {'max_depth':range(1,40,1)}
from sklearn.model_selection import GridSearchCV
cv = GridSearchCV( rfc, tp,scoring = 'accuracy', cv = 4)
gcv = cv.fit(xtrain, ytrain)
gcv.best_params_

{'max_depth': 4}

In [30]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(random_state=21, max_depth = 4)

model=rfc.fit(xtrain, ytrain)
predtr= model.predict(xtrain)
predts= model.predict(xtest)
print('train-Acc', accuracy_score(ytrain, predtr))
print('test-Acc', accuracy_score(ytest, predts))

train-Acc 0.8126272912423625
test-Acc 0.8211382113821138

In [32]:
from sklearn.metrics import confusion_matrix
confusion_matrix(ytest, predts)

array([[19, 19],
       [ 3, 82]], dtype=int64)

In [33]:
B = pd.read_csv("C:/Users/Lenovo/Downloads/testing_set (1).csv")
B.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban

In [34]:
xtest = B.drop('Loan_ID', axis = 1)

In [35]:
replacer(xtest)

In [36]:
cat = []
con = []
for i in xtest.columns:
    if xtest[i].dtypes == 'object':
        cat.append(i)
    else:
        con.append(i)
from sklearn.preprocessing import MinMaxScaler
mm = MinMaxScaler()
Xcon = pd.DataFrame(mm.fit_transform(xtest[con]), columns = xtest[con].columns)
Xcat = pd.get_dummies(xtest[cat])
xtest = Xcon.join(Xcat)

In [37]:
xtest

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_Female,Gender_Male,Married_No,Married_Yes,Dependents_0,Dependents_1,Dependents_2,Dependents_3+,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Yes,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
0,0.078865,0.000000,0.157088,0.746835,1.000000,0,1,0,1,1,0,0,0,1,0,1,0,0,0,1
1,0.042411,0.062500,0.187739,0.746835,1.000000,0,1,0,1,0,1,0,0,1,0,1,0,0,0,1
2,0.068938,0.075000,0.344828,0.746835,1.000000,0,1,0,1,0,0,1,0,1,0,1,0,0,0,1
3,0.032263,0.106083,0.137931,0.746835,0.825444,0,1,0,1,0,0,1,0,1,0,1,0,0,0,1
4,0.045168,0.000000,0.095785,0.746835,1.000000,0,1,1,0,1,0,0,0,0,1,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
362,0.055274,0.074042,0.162835,0.746835,1.000000,0,1,0,1,0,0,0,1,0,1,0,1,0,0,1
363,0.057329,0.029542,0.166667,0.746835,1.000000,0,1,0,1,1,0,0,0,1,0,1,0,0,0,1
364,0.044810,0.083042,0.187739,0.746835,0.825444,0,1,1,0,1,0,0,0,1,0,1,0,0,1,0
365,0.068938,0.099708,0.249042,0.746835,1.000000,0,1,0,1,1,0,0,0,1,0,1,0,1,0,0
366,0.126846,0.000000,0.134100,0.367089,1.000000,0,1,1,0,1,0,0,0,1,0,0,1,1,0,0

In [38]:
model.predict(xtest)

array(['Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y',
       'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y',
       'Y', 'N', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'N', 'Y', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y',
       'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'N', 'N', 'N', 'Y', 'Y', 'Y', 'N', 'N', 'Y', 'N', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'N',
       'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'N', 'N', 'Y', 'N',
       'Y', 'Y', 'Y', 'Y', 'N', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'N', 'Y',
       'Y', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y',
       'Y', 'N', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'N', 'Y', 'N', 'Y',
       'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y',
       'N', 'N', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N',
       'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y'], dtype=object)

In [39]:
B['Predict_Loan']= model.predict(xtest)

In [40]:
replacer(A)

In [41]:
A.isna().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [42]:
A1 = A[A.Loan_Status == "Y"]

In [43]:
A2 = B[B.Predict_Loan == 'Y']

In [44]:
A1.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [45]:
A2.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Predict_Loan'],
      dtype='object')

In [46]:
A2.columns = A1.columns

In [47]:
C = pd.concat([A1,A2])

In [48]:
C.shape

(730, 13)

In [49]:
C.index

Int64Index([  0,   2,   3,   4,   5,   6,   8,  10,  11,  12,
            ...
            357, 358, 359, 360, 361, 362, 363, 364, 365, 366],
           dtype='int64', length=730)

In [50]:
C.index = range(0,730,1)

In [51]:
C.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849.0,0.0,146.412162,360.0,1.0,Urban,Y
1,LP001005,Male,Yes,0,Graduate,Yes,3000.0,0.0,66.000000,360.0,1.0,Urban,Y
2,LP001006,Male,Yes,0,Not Graduate,No,2583.0,2358.0,120.000000,360.0,1.0,Urban,Y
3,LP001008,Male,No,0,Graduate,No,6000.0,0.0,141.000000,360.0,1.0,Urban,Y
4,LP001011,Male,Yes,2,Graduate,Yes,5417.0,4196.0,267.000000,360.0,1.0,Urban,Y

In [52]:
replacer(C)

In [53]:
C.isna().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [54]:
XC = C.drop(labels = ['Loan_Amount_Term', 'Loan_ID'], axis = 1)
YC = C[['Loan_Amount_Term']]

In [55]:
cat = []
con = []
for i in XC.columns:
    if XC[i].dtypes == 'object':
        cat.append(i)
    else:
        con.append(i)
from sklearn.preprocessing import MinMaxScaler
mm = MinMaxScaler()
Xcon = pd.DataFrame(mm.fit_transform(XC[con]), columns = XC[con].columns)
Xcat = pd.get_dummies(XC[cat])
XC = Xcon.join(Xcat)

In [56]:
from sklearn.model_selection import train_test_split
xtrain,xtest, ytrain,ytest = train_test_split(XC,YC,test_size=0.2, random_state=21)

In [57]:
from sklearn.ensemble import RandomForestRegressor
rfr = RandomForestRegressor(random_state=21)
tp = {'max_depth':range(1,40,1)}
from sklearn.model_selection import GridSearchCV
cv = GridSearchCV( rfr, tp,scoring = 'neg_mean_squared_error', cv = 4)
gcv = cv.fit(xtrain, ytrain)
gcv.best_params_

{'max_depth': 1}

In [58]:
from sklearn.ensemble import RandomForestRegressor
rfr = RandomForestRegressor(random_state=21, max_depth = 8 )
model=rfr.fit(xtrain, ytrain)
predtr= model.predict(xtrain)
predts= model.predict(xtest)

from sklearn.metrics import mean_squared_error
print('train-Error', round(mean_squared_error(ytrain, predtr),2))
print('test-Error', round(mean_squared_error(ytest, predts),2))

train-Error 1523.78
test-Error 4428.91

In [59]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import AdaBoostRegressor
dtr = DecisionTreeRegressor(random_state=21, max_depth=2)
abr = AdaBoostRegressor(random_state=21)
tp = {'n_estimators':range(1,40,1)}
from sklearn.model_selection import GridSearchCV
cv = GridSearchCV( abr, tp,scoring = 'neg_mean_squared_error', cv = 4)
gcv = cv.fit(xtrain, ytrain)
gcv.best_params_

{'n_estimators': 6}

In [60]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import AdaBoostRegressor
dtr = DecisionTreeRegressor(random_state=21, max_depth=2)
abr = AdaBoostRegressor(random_state=21,n_estimators=22)
model=abr.fit(xtrain, ytrain)
predtr= model.predict(xtrain)
predts= model.predict(xtest)

from sklearn.metrics import mean_squared_error
print('train-Error', round(mean_squared_error(ytrain, predtr),2))
print('test-Error', round(mean_squared_error(ytest, predts),2))

train-Error 4876.52
test-Error 7057.04

In [61]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
model=lr.fit(xtrain, ytrain)
predtr= model.predict(xtrain)
predts= model.predict(xtest)

from sklearn.metrics import mean_squared_error
print('train-Error', round(mean_squared_error(ytrain, predtr),2))
print('test-Error', round(mean_squared_error(ytest, predts),2))

train-Error 3643.54
test-Error 4440.6

In [62]:
from sklearn.neighbors import KNeighborsRegressor
knr = KNeighborsRegressor()
tp = {'n_neighbors':range(1,40,1)}
from sklearn.model_selection import GridSearchCV
cv = GridSearchCV( knr, tp,scoring = 'neg_mean_squared_error', cv = 4)
gcv = cv.fit(xtrain, ytrain)
gcv.best_params_

{'n_neighbors': 38}

In [63]:
from sklearn.neighbors import KNeighborsRegressor
knr = KNeighborsRegressor(n_neighbors=15)
model=knr.fit(xtrain, ytrain)
predtr= model.predict(xtrain)
predts= model.predict(xtest)

from sklearn.metrics import mean_squared_error
print('train-Error', round(mean_squared_error(ytrain, predtr),2))
print('test-Error', round(mean_squared_error(ytest, predts),2))

train-Error 3511.48
test-Error 4529.33

In [64]:
B1 = B[B.Predict_Loan == 'N']
replacer(B1)

In [65]:
B1.isna().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Predict_Loan         0
dtype: int64

In [66]:
XNew = B1.drop(['Loan_ID', 'Loan_Amount_Term'], axis= 1)

In [67]:
XNew.columns

Index(['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed',
       'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount', 'Credit_History',
       'Property_Area', 'Predict_Loan'],
      dtype='object')

In [68]:
X = A.drop(['Loan_ID', 'Loan_Amount_Term'],axis = 1)

In [69]:
X.columns

Index(['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed',
       'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount', 'Credit_History',
       'Property_Area', 'Loan_Status'],
      dtype='object')

In [70]:
XNew.columns = X.columns

In [71]:
XNew.columns

Index(['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed',
       'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount', 'Credit_History',
       'Property_Area', 'Loan_Status'],
      dtype='object')

In [72]:
XNew.index

Int64Index([  7,  13,  25,  35,  55,  58,  63,  66,  67,  69,  80,  82,  84,
             94, 101, 106, 117, 118, 119, 123, 124, 126, 140, 142, 147, 153,
            161, 165, 166, 168, 173, 174, 192, 193, 196, 198, 211, 224, 229,
            235, 236, 241, 243, 245, 250, 255, 266, 268, 273, 274, 278, 293,
            301, 311, 317, 325, 339, 346, 354],
           dtype='int64')

In [73]:
XNew.shape

(59, 11)

In [74]:
XNew.index = range(0,59,1)

In [75]:
replacer(XNew)

In [76]:
cat = []
con = []
for i in XNew.columns:
    if XNew[i].dtypes == 'object':
        cat.append(i)
    else:
        con.append(i)
from sklearn.preprocessing import MinMaxScaler
mm = MinMaxScaler()
Xcon = pd.DataFrame(mm.fit_transform(XNew[con]), columns = XNew[con].columns)
Xcat = pd.get_dummies(XNew[cat])
XNew = Xcon.join(Xcat)

In [77]:
Xpred = XNew

In [78]:
Xpred.columns

Index(['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount', 'Credit_History',
       'Gender_Female', 'Gender_Male', 'Married_No', 'Married_Yes',
       'Dependents_0', 'Dependents_1', 'Dependents_2', 'Dependents_3+',
       'Education_Graduate', 'Education_Not Graduate', 'Self_Employed_No',
       'Self_Employed_Yes', 'Property_Area_Rural', 'Property_Area_Semiurban',
       'Property_Area_Urban', 'Loan_Status_N'],
      dtype='object')

In [79]:
XC.columns

Index(['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount', 'Credit_History',
       'Gender_Female', 'Gender_Male', 'Married_No', 'Married_Yes',
       'Dependents_0', 'Dependents_1', 'Dependents_2', 'Dependents_3+',
       'Education_Graduate', 'Education_Not Graduate', 'Self_Employed_No',
       'Self_Employed_Yes', 'Property_Area_Rural', 'Property_Area_Semiurban',
       'Property_Area_Urban', 'Loan_Status_Y'],
      dtype='object')

In [80]:
Xpred.columns = XC.columns

In [81]:
Xpred

,ApplicantIncome,CoapplicantIncome,LoanAmount,Credit_History,Gender_Female,Gender_Male,Married_No,Married_Yes,Dependents_0,Dependents_1,Dependents_2,Dependents_3+,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Yes,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban,Loan_Status_Y
0,0.31048,0.000000,0.390438,0.0,0,1,0,1,0,0,1,0,0,1,1,0,1,0,0,1
1,0.97384,0.000000,0.466135,0.0,0,1,0,1,0,0,1,0,1,0,1,0,0,1,0,1
2,0.00000,1.000000,0.394422,0.0,0,1,1,0,1,0,0,0,1,0,1,0,1,0,0,1
3,0.25200,0.000000,0.505976,0.0,0,1,1,0,1,0,0,0,1,0,1,0,0,1,0,1
4,0.22000,0.000000,0.322709,0.0,0,1,1,0,1,0,0,0,1,0,1,0,0,0,1,1
5,0.22232,0.152667,0.505976,0.0,1,0,0,1,0,0,1,0,1,0,1,0,0,1,0,1
6,0.16808,0.062500,0.235060,0.0,1,0,1,0,1,0,0,0,1,0,1,0,1,0,0,1
7,0.37600,0.000000,0.342629,0.0,0,1,0,1,1,0,0,0,0,1,1,0,0,1,0,1
8,0.27560,0.000000,0.322709,0.0,0,1,0,1,1,0,0,0,1,0,1,0,0,1,0,1
9,0.19664,0.212708,0.553785,0.0,0,1,0,1,1,0,0,0,1,0,1,0,1,0,0,1
10,0.30632,0.045958,0.454183,0.0,0,1,0,1,0,0,0,1,1,0,1,0,0,0,1,1
11,0.33088,0.000000,0.398406,0.0,0,1,0,1,0,0,1,0,0,1,1,0,1,0,0,1
12,0.35648,0.000000,0.326693,0.0,0,1,0,1,1,0,0,0,1,0,1,0,0,1,0,1
13,0.36872,0.097208,0.294821,0.0,0,1,0,1,0,1,0,0,1,0,1,0,0,1,0,1
14,0.18096,0.000000,0.354582,0.0,1,0,0,1,1,0,0,0,1,0,1,0,0,1,0,1
15,0.12768,0.073333,0.278884,0.0,0,1,1,0,1,0,0,0,1,0,1,0,0,0,1,1
16,0.12128,0.120833,0.123506,0.0,0,1,0,1,0,1,0,0,1,0,1,0,1,0,0,1
17,0.14096,0.111083,0.219124,0.0,1,0,1,0,1,0,0,0,1,0,1,0,0,0,1,1
18,0.05792,0.146250,0.653386,0.0,0,1,0,1,0,0,1,0,1,0,1,0,1,0,0,1
19,0.20000,0.267250,0.549801,0.0,0,1,1,0,1,0,0,0,1,0,1,0,1,0,0,1
20,1.00000,0.000000,1.000000,0.0,1,0,1,0,1,0,0,0,1,0,1,0,0,0,1,1
21,0.52000,0.000000,0.087649,0.0,0,1,1,0,1,0,0,0,1,0,1,0,0,0,1,1
22,0.37816,0.000000,0.402390,0.0,0,1,1,0,1,0,0,0,1,0,1,0,1,0,0,1
23,0.54352,0.022000,0.358566,0.0,0,1,0,1,0,0,0,1,0,1,1,0,0,0,1,1
24,0.69624,0.000000,0.597610,0.0,0,1,1,0,1,0,0,0,0,1,0,1,1,0,0,1
25,0.19704,0.098333,0.270916,0.0,0,1,0,1,0,1,0,0,0,1,1,0,0,0,1,1
26,0.23712,0.000000,0.139442,0.0,0,1,1,0,1,0,0,0,1,0,1,0,0,1,0,1
27,0.18144,0.000000,0.482072,0.0,0,1,1,0,1,0,0,0,0,1,1,0,0,1,0,1
28,0.09128,0.084042,0.282869,0.0,0,1,1,0,0,0,1,0,0,1,1,0,0,0,1,1
29,0.14000,0.122292,0.179283,0.0,1,0,0,1,0,0,0,1,1,0,1,0,0,1,0,1
30,0.24136,0.118542,0.438247,0.0,0,1,1,0,1,0,0,0,1,0,1,0,0,0,1,1
31,0.19448,0.075833,0.243028,0.0,0,1,0,1,1,0,0,0,0,1,1,0,1,0,0,1
32,0.30280,0.121333,0.521912,0.0,0,1,0,1,0,0,1,0,0,1,1,0,1,0,0,1
33,0.21232,0.083250,0.314741,0.0,0,1,0,1,0,0,0,1,0,1,1,0,1,0,0,1
34,0.38368,0.000000,0.258964,0.0,0,1,0,1,0,1,0,0,1,0,1,0,0,1,0,1
35,0.20320,0.029167,0.219124,0.0,0,1,0,1,0,0,1,0,1,0,1,0,0,0,1,1
36,0.42664,0.100000,0.601594,0.0,0,1,1,0,1,0,0,0,1,0,1,0,1,0,0,1
37,0.41472,0.000000,0.549801,0.0,1,0,1,0,0,0,1,0,1,0,0,1,0,1,0,1
38,0.41440,0.000000,0.302789,0.0,0,1,0,1,0,0,0,1,0,1,1,0,0,0,1,1
39,0.17848,0.115583,0.505976,0.0,0,1,1,0,1,0,0,0,1,0,1,0,0,0,1,1
40,0.18192,0.217125,0.270916,0.0,1,0,1,0,1,0,0,0,1,0,1,0,0,1,0,1
41,0.31096,0.063208,0.223108,0.0,0,1,0,1,1,0,0,0,1,0,1,0,0,1,0,1
42,0.20312,0.071000,0.302789,0.0,0,1,0,1,1,0,0,0,1,0,1,0,1,0,0,1
43,0.25488,0.131042,0.402390,0.0,0,1,0,1,1,0,0,0,1,0,1,0,0,1,0,1
44,0.25936,0.018208,0.370518,0.0,0,1,0,1,0,0,0,1,1,0,1,0,0,0,1,1
45,0.22864,0.000000,0.294821,0.0,0,1,1,0,1,0,0,0,1,0,1,0,1,0,0,1
46,0.30680,0.058333,0.250996,0.0,1,0,0,1,0,1,0,0,0,1,1,0,0,0,1,1
47,0.46664,0.031250,0.000000,0.0,0,1,0,1,0,0,1,0,1,0,1,0,1,0,0,1
48,0.45336,0.018333,0.322709,0.0,0,1,0,1,0,0,1,0,1,0,1,0,0,1,0,1
49,0.28000,0.000000,0.179283,0.0,1,0,1,0,1,0,0,0,1,0,1,0,0,1,0,1
50,0.29072,0.037917,0.505976,0.0,0,1,0,1,0,0,0,1,0,1,1,0,0,1,0,1
51,0.17928,0.083333,0.155378,0.0,1,0,0,1,1,0,0,0,1,0,1,0,0,0,1,1
52,0.50400,0.000000,0.302789,0.0,0,1,0,1,0,1,0,0,1,0,1,0,0,0,1,1
53,0.18928,0.219667,0.414343,0.0,1,0,1,0,0,0,0,1,1,0,1,0,1,0,0,1
54,0.13600,0.120833,0.071713,0.0,0,1,0,1,1,0,0,0,0,1,1,0,0,0,1,1
55,0.23000,0.100667,0.183267,0.0,0,1,1,0,1,0,0,0,1,0,1,0,0,1,0,1
56,0.34664,0.097208,0.450199,0.0,1,0,1,0,1,0,0,0,1,0,1,0,1,0,0,1
57,0.27128,0.081917,0.334661,0.0,0,1,0,1,1,0,0,0,1,0,1,0,1,0,0,1
58,0.42528,0.007792,0.434263,0.0,0,1,0,1,0,0,0,1,0,1,1,0,0,1,0,1

In [82]:
pred = model.predict(Xpred)

In [83]:
pred

array([[344.        ],
       [336.        ],
       [360.        ],
       [360.        ],
       [348.        ],
       [344.        ],
       [364.        ],
       [344.        ],
       [368.        ],
       [342.8       ],
       [326.74114943],
       [344.        ],
       [368.        ],
       [360.        ],
       [348.        ],
       [348.        ],
       [336.        ],
       [338.8       ],
       [360.        ],
       [360.        ],
       [338.8       ],
       [349.6       ],
       [360.        ],
       [310.74114943],
       [344.        ],
       [344.        ],
       [356.        ],
       [344.        ],
       [340.        ],
       [329.6       ],
       [348.        ],
       [354.74114943],
       [344.        ],
       [336.        ],
       [360.        ],
       [340.        ],
       [360.        ],
       [360.        ],
       [310.74114943],
       [328.        ],
       [360.        ],
       [368.        ],
       [342.8       ],
       [360.        ],
       [303.54114943],
       [360.        ],
       [344.        ],
       [341.6       ],
       [336.        ],
       [360.        ],
       [360.        ],
       [327.54114943],
       [340.        ],
       [368.        ],
       [324.8       ],
       [360.        ],
       [364.        ],
       [342.8       ],
       [360.        ]])